@charset "utf-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #324B50;
    line-height: 1;
    background-color: #ffffff;
}

.header-inner {
    max-width: 420px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #61CAF9;
}

.header-site-menu {
	margin: auto 55px;
	margin-top: 5px;
}

.site-menu ul {
	display: flex;
	justify-content: center;
}

.site-menu li {
	margin-right: 25px;
}

.shiori {
	margin: 15px;
	padding: 20px;
	background-color: #B6E8F4;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.shiori dt {
	font-size: 30px;
	margin-top: 20px;
}

.shiori button {
	background-color: #FEADC8;
    min-width: 180px;
    line-height: 35px;
    border-radius: 24px;
    font-size: 14px;
    text-align: center;
	margin-top: 5px;
}

.footer {
	max-width: 420px;
	height: 90px;
    background-color: #C0A1E1;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
	font-size: bold;
}


/* 以下ポップアップ関係 */
.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

.window form {
    display: flex;
    flex-direction: column;
}
/* ポップアップ関係終了 */