.pleasetap {
    text-align: center;
    margin-top: 15px;
}

.shiori {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.title-and-subtitle {
	margin-top: 40px;
}

.title h1 {
	font-size: 50px;
}

.subtitle {
	font-size: 20px;
}

.date h2 {
	font-size: 20px;
}