.bookmarks-area {
	padding: 5px;
	margin-top: 5px;
	background-color: #fff;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}

tbody tr:hover {
	background-color: #f2f2f2;
}

table {
	margin-top: 10px;
	margin-right: 5px;
	width: 120px;
	height: 100px;
}

table .googlemap {
	height: 70px;
	width: 115px;
}

.open-area {
	top: 150px;
}