.x-days {
	padding: 5px;
	margin-top: 5px;
	background-color: #fff;
	position: relative;
}

.timeline {
    position: relative;
    padding: 5px 1.5em 1.5em 2em;
}

.timeline::before,
.timeline::after {
    position: absolute;
    content: '';
}

.timeline::before {
    bottom: 0;
    left: 10.5px;
    transform: translateX(-50%);
    width: 3px;
    height: 85%;
    background-color: #d6dde3;
}

.timeline::after {
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #2589d0;
}

.action_memo {
    padding-top: 2px;
	font-size: 15px;
}

.action_time {
    margin-bottom: .1em;
    color: #bcbfc7;
    /* color: #333333; */
    font-size: .85em;
    left: 0;
    position: absolute;
}

.action_title {
    color: #333333;
    font-size: 1.05em;
    font-weight: 600;
    margin: 0 auto 0 15px;
}

.timeline form {
    /* 右端に置く (floatは使わない)*/
    position: absolute;
    right: 0;
    top: 0;
    /* 余白 */
    margin: 0 0 0 0;
}



