.x-days {
	padding: 5px;
	margin-top: 5px;
	background-color: #fff;
	position: relative;
}

.timeline {
    position: relative;
    padding: 5px 1.5em 1.5em 2em;
}

.timeline::before,
.timeline::after {
    position: absolute;
    content: '';
}

.timeline::before {
    bottom: 0;
    left: 10.5px;
    transform: translateX(-50%);
    width: 3px;
    height: 85%;
    background-color: #d6dde3;
}

.timeline::after {
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #2589d0;
}

.action_memo {
    padding-top: 2px;
	font-size: 15px;
}

.action_time {
    margin-bottom: .1em;
    color: #bcbfc7;
    font-size: .85em;
    left: 0;
    position: absolute;
}

.action_title {
    color: #333333;
    font-size: 1.05em;
    font-weight: 600;
    margin: 0 auto 0 15px;
}

/* 以下ポップアップ関係 */
.open-area {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	bottom: 150px;
	left: 300px;
}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
	font-size: 50px;
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 80vw;
	max-width: 380px;
	height: 440px;
	background-color: #f8f8f8;
	border-radius: 6px;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.window h3 {
	margin-top: 15px;
	text-align: center;
}

.window form {
	height: 100%;
}

.form-area {
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-area dt {
	margin: 20px 0  0 10px;
	text-align: center;
}

.form-area dd {
	margin: 5px auto 0;
	text-align: center;
}

.textarea {
	height: 30px;
	margin: 10px;
	padding: 0 5px;
	border-radius: 10%;
}

.form-area button {
	/* width: 100px;
	margin: auto; */
	background-color: #FEADC8;
    width: 150px;
    line-height: 35px;
    border-radius: 24px;
    font-size: 14px;
    text-align: center;
	margin: 5px auto 0;
}

/* .text {
	font-size: 18px;
	margin: 0;
} */

.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 40px;
}
/* ポップアップ関係終了 */




